html {
  font-family: Roboto, sans-serif;
}

.cream {
  background-color: #f3E9E8;
}

.lime {
  background-color: #ddf28a;
}

.teal {
  background-color: #025272;
}

.medblue {
  background-color: #024773;
}

.blue {
  background-color: #001f58;
}
