html {
  font-family: Roboto, sans-serif;
}

.cream {
  background-color: #f4f4f4;
}

.lime {
  background-color: #ddf28a;
}

.teal {
  background-color: #025272;
}

.medblue {
  background-color: #024773;
}

.blue {
  background-color: #001f58;
}

nav a {
  color: #001f58;
}

nav a:hover {
  color: #ddf28a;
}

.whitetxt {
  color: white;
}

.pad-r {
  padding-right: 1em;
}

.pad-l {
  padding-left: 1em;
}

.btn-b {
  border-radius: 25px;
  border: none;
  background-color: #001f58;
}

.btn-b:hover {
  background-color: #ddf28a;
  color: black;
}

.maxw {
  max-width: 150px;
}

.maxwbtm {
  max-width: 190px;
}
 .borderr {
   border-radius: 18px;
 }
